html,
body {
    height: 100%;
}
body {
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    flex-direction: column;
}
.main {
    flex-grow: 1;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px 0 25px;
}
.container-large {
    max-width: 1820px;
    margin: 0 auto;
    padding: 0 15px;
}
.title {
    color: $title;
    font-size: 36px;
    text-align: center;
    margin-bottom: 35px;
}
.breadcrumbs {
    &__list {
        display: flex;
        justify-content: center;
    }
    &__item {
        display: block;
        margin: 0 10px;
        position: relative;

        &::after {
            content: "/";
            position: absolute;
            color: #737980;
            top: 1px;
            right: -12px;
        }
        &:last-child {
            &::after {
                display: none;
            }
        }
    }
    &__link {
        color: #737980;
        @extend %rubik-400;
        font-size: 14px;
    }
}
.title--colortext {
    color: $text;
}
a.blog-top__link--colortext {
    color: $text;
}
.pagination {
    display: flex;   
    &__list {
        display: flex;
    }
    &__item {
        margin-right: 15px;
        padding: 18px 20px;
        border: 1px solid $bg2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__item--active {
        background-color: $bg2;
        a {
            color: #fff;
        }
    }
    &__next {
        padding: 18px 15px;
        border: 1px solid $bg2;
    }
    &__link {
        @extend %rubik-400;
        color: $text;
        line-height: 0.8;
    }
    
}
