@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
    padding: 43px 0 50px;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo {
        margin-left: 20px;
    }
}

.menu {
    margin-left: 160px;
    &__list {
        display: flex;
    }
    &__list-item + .menu__list-item {
        padding-left: 38px;
    }
    &__list-link {
        color: $link;
        @extend %rubik-700;
        font-size: 15px;
        line-height: 12px;
    }
}
.user-nav {
    display: flex;

    &__item {
        display: flex;
    }
    &__item-input {
        display: none;
        padding-left: 10px;
    }
    &__item-input::placeholder {
        display: none;
    }
    &__item-input--active {
        display: block;
        background-color: #edf1f4;
        border: none;
        border-radius: 25px;
        width: 39%;
    }
    &__item-input--active::placeholder {
        color: $link;
        @extend %rubik-500;
        font-size: 15px;
        line-height: 12px;
        padding-left: 15px;
    }
    &__item-search {
        border: none;
        width: 50px;
        height: 50px;
        background-color: #edf1f4;
        padding: 14px;
        border-radius: 25px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: transition all 0.3s;
        &:hover {
            background-color: $bg2;
        }
    }
    &__item-link {
        position: relative;
    }
    .link__favorits {
        background-color: #fcd7b6;
        margin-left: 24px;
        padding: 20px 32px 12px 40px;
        border-radius: 50px 0 0 50px;
        transform: transition all 0.3s;
        &:hover {
            background-color: #f8e3d0;
        }
    }

    .favorits__number {
        color: $text;
        @extend %dmsans-400;
        font-size: 10px;
        line-height: 18px;
        text-align: center;
        position: absolute;
        top: 13px;
        left: 51px;
        background-color: $bg;
        border-radius: 50%;
        width: 16px;
        height: 16px;
    }
    .link__cart {
        background-color: #fcd7b6;
        padding: 20px 42px 15px 28px;
        border-radius: 0px 50px 50px 0px;
        transform: transition all 0.3s;
        &:hover {
            background-color: #f8e3d0;
        }
    }

    .link__cart::after {
        position: absolute;
        content: "";
        height: 32px;
        width: 1px;
        background-color: #fde7d3;
        top: 10px;
        right: 89px;
    }
    .cart__number {
        color: $text;
        @extend %dmsans-400;
        font-size: 10px;
        line-height: 18px;
        text-align: center;
        position: absolute;
        top: 12px;
        right: 34px;
        background-color: $bg;
        border-radius: 50%;
        width: 16px;
        height: 16px;
    }
    &__item-btn {
        margin-left: 20px;
        border: none;
        width: 50px;
        height: 50px;
        background-color: $bg2;
        padding: 15px;
        border-radius: 23px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: transition all 0.3s;
        &:hover {
            background-color: $text;
        }
    }
}

.footer-top {
    padding: 70px 0 55px;
    border-bottom: 1px solid #dae4e9;
    display: flex;
    justify-content: space-between;

    &__address {
        display: block;
        max-width: 220px;
        @extend %rubik-400;
        font-size: 14px;
        line-height: 23px;
        color: $text-footer;
        margin-top: 21px;
    }
    &__address + .footer-top__address {
        margin-top: 15px;
    }
    &__address span {
        text-transform: uppercase;
    }
    &__item:nth-child(2) {
        margin-left: -85px;
    }
    &__item-title {
        @extend %dmsans-700;
        font-size: 16px;
        line-height: 21px;
        color: #1f2044;
        margin-bottom: 19px;
        padding-top: 15px;
        text-transform: uppercase;
    }
    &__list-link {
        display: block;
        color: $text-footer;
        @extend %rubik-400;
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 12px;
    }
    &__text {
        color: $text-footer;
        @extend %rubik-400;
        font-size: 14px;
        line-height: 24px;
        max-width: 215px;
        margin-bottom: 35px;
    }
    &__form-input {
        background-color: $bg3;
        border: none;
        height: 40px;
        min-width: 170px;
    }
    &__form-input::placeholder {
        padding-left: 15px;
        @extend %dmsans-400;
        font-size: 12px;
        color: #234969;
    }
    &__form-btn {
        @extend %dmsans-400;
        font-size: 14px;
        line-height: 21px;
        color: $bg;
        border: none;
        background-color: $bg2;
        padding: 11px 28px 10px 16px;
        cursor: pointer;
        height: 40px;
    }
}

.footer-bottom {
    padding: 35px 15px 40px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend %rubik-400;
    font-size: 14px;
    line-height: 19px;
    color: $text-footer;
    &__menu {
        display: flex;
    }
    &__menu-item {
        display: inline-block;
        padding-left: 15px;
        margin-left: 15px;
    }

    &__menu-link {
        color: $text-footer;
    }
    .footer-bottom__menu-item + .footer-bottom__menu-item {
        border-left: 1px solid $text-footer;
    }
}
.top {
    background-color: #edf1f4;
    padding: 25px 0;
    margin-bottom: 115px;
    text-align: center;

    &__title {
        color: #222933;
        @extend %rubik-400;
        margin-bottom: 10px;
    }
}

.slider-top {
    background-image: url(../images/slider-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 220px 0 45px 0;

    &__item-inner {
        display: flex;
    }
    &__title {
        max-width: 470px;
        color: $text;
        font-size: 72px;
        line-height: 70px;
        @extend %rubik-500;
        margin-bottom: 45px;
    }
    &__text {
        max-width: 370px;
        font-size: 18px;
        line-height: 30px;
        @extend %rubik-400;
        color: $link;
        padding-bottom: 45px;
    }
    &__img {
        margin-left: auto;
    }
    &__link {
        @extend %btn;
    }

    .slick-dots {
        display: flex;
        justify-content: center;
        li {
            margin-left: 10px;
            margin-top: 210px;
            button {
                padding: 0;
                width: 30px;
                height: 30px;
                @extend %rubik-500;
                font-size: 11px;
                line-height: 9px;
                text-align: center;
                color: #667983;
                border: none;
                border-radius: 50%;
                background-color: #fde3cc;
            }

            &.slick-active {
                button {
                    background-color: $bg;
                    color: $text;
                }
            }
        }
    }
}
.slider-bottom {
    background-color: $bg3;
    padding: 45px 150px 45px 150px;
    margin-bottom: 75px;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__item {
        display: flex;
        align-items: start;
    }
    &__img {
        margin-right: 25px;
        padding-top: 8px;
    }

    &__title {
        @extend %dmsans-700;
        font-size: 18px;
        line-height: 40px;
        color: #414141;
    }
    &__text {
        @extend %dmsans-400;
        font-size: 16px;
        line-height: 30px;
        color: #585858;
    }
}
.products,
.product-one,
.related-products {
    padding-bottom: 230px;
    &__top {
        margin-bottom: 80px;
    }

    &__filter-btn {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__btn {
        border: none;
        background-color: transparent;
        padding: 0;
        color: #8b8b8b;
        font-size: 16px;
    }
    .products__btn + .products__btn {
        margin-left: 30px;
    }
    &__content {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 50% 50%;
        column-gap: 30px;
        row-gap: 40px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        min-height: 380px;
        background-color: $bg;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        position: relative;
        overflow: hidden;

        &-img {
            margin: auto;
        }

        &-box {
            width: 170px;
            position: absolute;
            bottom: 160px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            transform: translateY(480%);
            transition: all 0.3s;
            margin: 0 auto;
        }

        &-link {
            height: 42px;
            background-color: #fefefe;
            padding: 10px;
            border-radius: 20px;
            box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        }
        &-link:hover {
            background-color: $bg2;
            path {
                fill: $bg;
            }
        }

        &-title {
            @extend %dmsans-700;
            font-size: 16px;
            line-height: 40px;
            color: $text;
        }
        &-text {
            @extend %dmsans-700;
            font-size: 16px;
            line-height: 40px;
            color: $bg2;
            padding-bottom: 40px;
        }
    }
    .products__item:hover {
        .products__item-box {
            transform: translateY(0%);
        }
    }
}
.mixitup-control-active {
    color: #1a1a1a;
}
.features {
    margin-bottom: 100px;
    &__inner {
        display: grid;
        grid-template-columns: repeat(2, 49%);
        gap: 30px;
        padding: 0 10px;
    }
    &__items {
        display: flex;
        justify-content: center;
        background-color: #feefe2;
    }
    &__img {
        margin-top: -100px;
        padding-left: 140px;
        padding-bottom: 100px;
    }
    .features__img--up {
        margin-top: -110px;
    }
    &__item {
        padding: 100px 0 100px 20px;
        color: $text;

        &-title {
            max-width: 250px;
            @extend %dmsans-700;
            font-size: 26px;
            line-height: 32px;
            margin-bottom: 30px;
        }
        .features__item-title--down {
            margin-bottom: 20px;
        }
        &-text {
            @extend %rubik-400;
            font-size: 16px;
            line-height: 30px;
            margin-bottom: 30px;
        }
        &-link {
            display: block;
            max-width: 200px;
            background-color: transparent;
            border: 1px solid #b3b7b5;
            padding: 20px 85px 20px 20px;
            font-size: 15px;
            line-height: 12px;
            @extend %rubik-500;
            color: $link;
            position: relative;
        }
        &-link::before {
            content: "";
            width: 30px;
            height: 10px;
            background-image: url(../images/features-link-arrow.svg);
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            top: 20px;
            right: 20px;
        }
    }
}
.category {
    padding-bottom: 120px;
    &__top {
        margin-bottom: 80px;
    }
    &__filter-btn {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__btn {
        border: none;
        background-color: transparent;
        padding: 0;
        color: #8b8b8b;
        font-size: 16px;
    }
    .category__btn + .category__btn {
        margin-left: 30px;
    }
    &__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 30px;
        row-gap: 35px;
    }
    &__item {
        @extend %dmsans-700;
        min-height: 250px;
        padding: 31px 0 0 30px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom right;
        &-title {
            width: 190px;
            font-size: 20px;
            line-height: 24px;
            color: $title;
            margin-bottom: 20px;
        }
        &-text {
            font-size: 16px;
            color: $bg2;
        }
    }
}
.mixitup-control-active {
    color: #1a1a1a;
}
.video-popup {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    padding: 230px 0;
    margin-bottom: 120px;

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.blog-top {
    margin-bottom: 15px;
    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__link {
        @extend %dmsans-700;
        font-size: 16px;
        color: #262626;
        position: relative;
        margin-right: 15px;
        &::after {
            content: "";
            position: absolute;
            width: 6px;
            height: 11px;
            background-image: url(../images/blog-top-arrow.svg);
            top: 10px;
            right: -15px;
        }
    }
}
.blog-news {
    margin-bottom: -170px;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__items {
        max-width: 370px;
        background-color: $bg;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    }
    &__img {
        height: 250px;
        display: block;
        object-fit: cover;
        margin-bottom: -14px;
    }
    &__link-news {
        max-width: 105px;
        @extend %dmsans-700;
        font-size: 14px;
        background-color: $bg2;
        border-radius: 20px;
        padding: 7px 30px;
        color: $bg;
        margin-left: 30px;
    }
    &__text {
        display: flex;
        flex-direction: column;
    }

    &__link-text {
        display: block;
        height: 55px;
        @extend %dmsans-500;
        font-size: 18px;
        line-height: 18px;
        color: #262626;
        margin: 0px 30px 25px 35px;
        padding: 20px 35px 0 0;
    }

    &__info {
        max-width: 315px;
        display: flex;
        margin-bottom: 25px;
        padding-top: 20px;
        border-top: 1px solid #e0e0e0;
        margin-left: 30px;
    }
    &__date {
        color: #222933;
        @extend %rubik-400;
        font-size: 12px;
        line-height: 30px;
        margin-left: 25px;
        position: relative;
        &::before {
            position: absolute;
            content: "";
            background-image: url("../images/icons/date-icon.svg");
            width: 15px;
            height: 13px;
            top: 8px;
            left: -20px;
        }
    }
    &__link-author {
        color: #222933;
        @extend %rubik-400;
        font-size: 12px;
        line-height: 30px;
        margin-left: 50px;
        position: relative;
        &::before {
            position: absolute;
            content: "";
            background-image: url("../images/icons/admin-icon.svg");
            width: 15px;
            height: 14px;
            top: 8px;
            left: -20px;
        }
    }
}

.clients {
    background-color: $bg3;

    &__list {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__item {
        padding: 260px 0 90px;
    }
    &__item--short {
        padding: 80px 0 90px;
    }
}

.modal {
    margin-bottom: 120px;
    &__inner {
        max-width: 470px;
        margin: 0 auto;
    }
    &__label {
        color: $link;
        @extend %rubik-400;
        font-size: 14px;
    }
    &__input {
        display: block;
        width: 100%;
        border: 2px solid #f6f6f6;
        padding: 0 15px;
        margin-bottom: 25px;
    }
    &__btn {
        background-color: $bg2;
        @extend %rubik-500;
        font-size: 18px;
        color: #fffefe;
        border: none;
        padding: 20px 0px;
        width: 100%;
        cursor: pointer;
        margin-top: 10px;
        margin-bottom: 35px;
    }
    &__select-box {
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid #f6f6f6;
        padding-bottom: 30px;
        margin-bottom: 30px;
    }
    &__registration-box {
        text-align: center;
    }
    &__lostpassword-link {
        color: $link;
        @extend %rubik-400;
        font-size: 14px;
    }
    &__createaccount-link {
        display: block;
        padding: 20px 0;
        border: 2px solid $bg2;
        @extend %rubik-500;
        color: $text;
        font-size: 18px;
        margin-top: 20px;
    }
}

.terms {
    margin-bottom: 120px;
    color: $text;
    font-size: 16px;
    line-height: 30px;
    @extend %rubik-400;
    &__title {
        margin-bottom: 25px;
        margin-top: 70px;
        font-size: 24px;
        line-height: 40px;
        @extend %rubik-500;
    }
    ul.term__list {
        margin-bottom: 70px;
    }
    &__list-item {
        margin-bottom: 30px;
        list-style: none;
        counter-increment: my-counter;
        position: relative;
        margin-left: 40px;
        &::before {
            content: "0" counter(my-counter) ".";
            position: absolute;
            top: 0;
            left: -38px;
        }
    }
}
.info {
    margin-bottom: 115px;
}
.info-top {
    margin-bottom: 120px;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__img {
        max-width: 570px;
        object-fit: cover;
        width: 100%;
    }
    &__items {
        margin-left: 40px;
    }
    ul.info-top__subtitle {
        padding-left: 165px;
        position: relative;
        margin-bottom: 50px;
        &::before {
            content: "12";
            @extend %rubik-700;
            font-size: 140px;
            line-height: 1.2;
            letter-spacing: -16px;
            color: $bg2;

            position: absolute;
            top: -47px;
            left: 0;
        }
    }
    &__title {
        @extend %dmsans-700;
        font-size: 36px;
        line-height: 32px;
        color: $text;
        margin-bottom: 45px;
    }
    &__text {
        @extend %rubik-400;
        font-size: 13px;
        line-height: 30px;
        color: $text;
        margin-bottom: 60px;
        max-width: 555px;
    }
    &__numbers {
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        border-top: 2px solid #e6eaf0;
    }
    &__numbers-item {
        display: flex;
        margin-right: 25px;
        padding: 10px 25px 10px 0px;

        border-right: 2px solid #e6eaf0;
        &:last-child {
            border-right: none;
        }
    }
    &__numbers-text {
        margin-left: 20px;
    }
    &__numbers-numbers {
        @extend %dmsans-700;
        font-size: 36px;
        line-height: 38px;
        color: $text;
    }
    &__numbers-label {
        color: #4c4c4c;
        line-height: 17px;
    }
}
.info-bottom {
    background-color: #fcd7b6;
    padding: 165px 0 125px;
    &__items {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        @extend %dmsans-700;
        font-size: 36px;
        line-height: 32px;
        color: $text;
    }
    &__numbers {
        margin: 20px 0 20px;
    }
    &__label {
        font-size: 18px;
    }
}
.team {
    margin-bottom: 115px;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
}
.team-content {
    color: $text;
    width: 290px;

    &__title {
        font-size: 36px;
        line-height: 32px;
        margin-bottom: 35px;
    }
    &__text {
        @extend %rubik-400;
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 40px;
    }
    &__link {
        display: block;
        max-width: 170px;
        background-color: $bg2;
        padding: 25px 55px 20px 20px;
        font-size: 15px;
        line-height: 12px;
        @extend %rubik-700;
        color: $bg;
        position: relative;
        border-radius: 6px;
        &::after {
            content: "";
            width: 15px;
            height: 11px;
            background-image: url("../images/icons/arrow-right-icon.svg");
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            top: 23px;
            right: 20px;
        }
    }
}
.team-gallery {
    &__inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 40px;
        column-gap: 30px;
    }
    &__item-bg {
        width: 375px;
        height: 320px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    &__label {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 330px;
        height: 115px;
        background-color: #fff;
        padding: 0 20px;
        margin-top: -45px;
        box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
    }
    &__text {
        padding: 30px 0 25px;
    }
    &__text-name {
        color: $link;
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 10px;
    }
    &__text-position {
        @extend %rubik-400;
        color: #565872;
        font-size: 16px;
        line-height: 30px;
    }
    &__social {
        display: flex;
        justify-content: space-between;
    }

    &__social-link {
        display: block;
        margin: 0 14px;
        position: relative;
        z-index: 1;
        &::after {
            content: "";
            width: 40px;
            height: 40px;
            background-color: #f6f6f6;
            border-radius: 50%;
            position: absolute;
            top: -11px;
            right: -11px;
            z-index: -1;
        }
    }
    &__social-link--google {
        &::after {
            top: -12px;
            right: -8px;
        }
    }
}
.product-one {
    margin-bottom: 120px;
    padding: 0;
    &__inner {
        display: flex;
    }
    &__aside {
        min-width: 270px;
        margin-right: 30px;
    }
    &__content {
        margin-top: 10px;
        min-width: 870px;
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 40px;
        grid-column-gap: 30px;
        margin-bottom: 105px;
    }
    &__pagination {
        margin-right: 300px;
        margin-left: 600px;
    }
}
.filter {
    margin-bottom: 70px;
    color: $text;
    &__title {
        @extend %dmsans-700;
        font-size: 16px;
        line-height: 1, 2;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: 20px;
        margin-right: 15px;
        display: flex;
        align-items: center;
        img {
            display: block;
            margin-left: 15px;
        }
    }
}
.filter-category {
    margin-bottom: 55px;
    &__label {
        display: block;
    }
    &__input {
        @extend %checkbox-hidden;
        &:checked + .filter-category__checkbox {
            background-color: #edf1f4;
            border-radius: 6px;
        }
    }
    &__checkbox {
        display: block;
        padding: 7px 25px 5px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.filter-price {
    margin-bottom: 75px;
    .filter__title {
        margin-bottom: 10px;
    }
    .irs-min,
    .irs-max,
    .irs-from,
    .irs-to,
    .irs-single {
        display: none;
    }
    .irs-line {
        height: 3px;
        background-color: #c2d2db;
    }
    .irs-bar {
        height: 4px;
        background-color: $bg2;
    }
    .irs-handle.from,
    .irs-handle.to {
        width: 15px;
        height: 15px;
        background-color: $bg2;
        top: 19px;
        i {
            display: none;
        }
    }
    &__label {
        &-box {
            margin-top: 5px;
            display: flex;
            justify-content: space-between;
        }
    }
}
.filter-brand {
    margin-bottom: 50px;
    &__label {
        display: block;
    }
    &__input {
        @extend %checkbox-hidden;
        &:checked + .filter-brand__checkbox {
            background-color: #edf1f4;
            border-radius: 6px;
            span {
                color: inherit;
            }
        }
    }
    &__checkbox {
        display: block;
        padding: 7px 25px 5px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__checkbox-numbers {
        color: #b3b3b3;
    }
}
.recent-products {
    .filter__title {
        margin-bottom: 25px;
    }
    &__item {
        margin-bottom: 18px;
        display: flex;
    }
    &__item-img {
        padding: 2px 5px;
        border: 2px solid #f2f2f2;
        object-fit: contain;
        width: 70px;
        max-height: 70px;
    }
    &__item-box {
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 6px 0;
    }
    &__item-link {
        display: inline-block;
        @extend %rubik-400;
        font-size: 14px;
        line-height: 15px;
        color: #333333;
        margin-bottom: 5px;
    }

    &__item-price {
        @extend %rubik-400;
        font-size: 15px;
        line-height: 20px;
        color: #333333;
    }
    .star {
        padding: 0;
        svg {
            margin-right: 7px;
        }
    }
}

.product-two {
    &__content {
        margin-top: 10px;
        max-width: 850px;
        margin-bottom: 35px;
    }
    &__item {
        display: flex;
        margin-bottom: 40px;
    }
    &__item-img {
        border: 2px solid #f2f2f2;
        min-width: 370px;
        height: 500px;
        object-fit: none;
    }
    &__item-box {
        margin: 90px 55px 0 60px;
        min-width: 415px;
        @extend %rubik-400;
        color: #333333;
    }
    &__item-title {
        font-size: 40px;
        line-height: 27px;
        margin-bottom: 25px;
    }
    &__item-price {
        display: block;
        font-size: 30px;
        line-height: 45px;
        margin: 30px 0px 20px;
    }
    &__star {
        padding: 0;
        svg {
            margin-right: 15px;
        }
    }
    &__item-text {
        color: $text;
        margin-bottom: 35px;
    }

    &__item-wrapper {
        width: 110px;
        display: flex;
        justify-content: space-between;
    }
    &__item-link {
        height: 50px;
        width: 50px;
        background-color: #fefefe;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            background-color: $bg2;
            path {
                fill: $bg;
            }
        }
    }

    &__pagination {
        margin-left: 300px;
        margin-right: 600px;
    }
}
.product-details {
    &__inner {
        display: flex;
    }

    &__slider {
        display: flex;
        max-width: 555px;
    }
    &__content {
        max-width: 560px;
        margin-left: 70px;
        padding-top: 30px;
        @extend %rubik-400;
        color: #333333;
    }
    &__title {
        font-size: 40px;
        line-height: 26px;
        margin-bottom: 25px;
    }
    &__star {
        margin-bottom: 30px;
        padding: 0;
        svg {
            margin-right: 12px;
        }
    }
    &__price {
        display: block;
        font-size: 30px;
        line-height: 45px;
        margin-bottom: 20px;
    }
    &__text {
        font-size: 16px;
        line-height: 30px;
        color: $text;
        letter-spacing: 0.5px;
        max-width: 555px;
        margin-bottom: 28px;
    }
    &__form {
        display: flex;
        margin-bottom: 50px;
    }

    &__btn {
        @extend %btn;
        border: none;
        min-width: 210px;
        width: 100%;
        height: 50px;
        padding: 20px 50px;
        text-transform: uppercase;
        margin-left: 15px;
        &::after {
            display: none;
        }
    }

    &__info {
        &-item {
            @extend %rubik-400;
            color: $text;
        }
        &-title {
            display: inline-block;
        }
        &-text {
            display: inline-block;
            a {
                color: inherit;
                cursor: pointer;
            }
        }
    }

    &__tabs {
        margin-bottom: 120px;
        &-item {
            display: flex;
            margin-left: 165px;
            margin-bottom: 35px;
        }
        &-items {
            display: inline-block;
            border-radius: 6px;
            padding: 7px 0;
            text-align: center;
            margin-right: 12px;
            min-width: 240px;
            height: 50px;
            background-color: #edf1f4;
            @extend %rubik-500;
            font-size: 18px;
            line-height: 40px;
            letter-spacing: 1px;
            color: $text;
        }
        &-items--active {
            color: #ffffff;
            background-color: $bg2;
        }
        &-text {
            @extend %rubik-400;
            color: $text;
            letter-spacing: 0.3px;
            display: none;
        }
        &-text--active {
            display: block;
        }
    }
}
.jq-number__field {
    width: 50px;
    border: 1px solid $bg2;
    border-left: none;
    border-right: none;
    margin: 0 13px;
    border-radius: 0px;
    box-shadow: none;
    &:hover {
        user-select: none;
        box-shadow: none;
        background: none;
        border-color: $bg2;
    }
}

.jq-number__field input {
    text-align: center;
    font-size: 15px;
    @extend %rubik-400;
    color: #333333;
    width: 100%;
    padding: 8px 9px;
    border: none;
    outline: none;
    background: none;
    height: 48px;
    padding-left: 19px;
}
.jq-number {
    padding: 0 38px;
    position: relative;
    vertical-align: middle;
    display: inline-block;
}
.jq-number.focused {
    display: none;
}
.jq-number__spin {
    position: absolute;
    left: 0;
    right: 0;
    height: 50px;
    width: 50px;
    user-select: none;
    cursor: pointer;
    border: 1px solid $bg2;
    box-shadow: none;
    background: none;
    &:hover {
        background: transparent;
        background-color: $bg2;
    }
}
.jq-number__spin.minus {
    top: 0;
    bottom: auto;
    border-radius: 4px 0px 0px 4px;
}
.jq-number__spin.plus {
    right: 0;
    left: auto;
    border-radius: 0px 4px 4px 0px;
}
.jq-number__spin::after {
    content: "";
    position: absolute;
}
.jq-number__spin::before {
    content: "";
    position: absolute;
    top: 23px;
    left: 19px;
    width: 12px;
    height: 2px;
    border: none;
    background: #666;
}
.jq-number__spin.plus::after {
    top: 18px;
    left: 24px;
    width: 2px;
    height: 12px;
    border: none;
    background: #666;
}
.jq-number__spin.minus::after {
    display: none;
}
.product-slide {
    padding-bottom: 74px;
    &__thumb {
        margin-right: 20px;
        width: 140px;
    }

    &__thumb-item {
        margin-bottom: 13px;
        border: 2px solid #f2f2f2;
        width: 140px;
        height: 160px;
        cursor: pointer;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
    }
    &__big {
        width: 390px;
        height: 530px;
        border: 2px solid #f2f2f2;
    }
    &__big-item {
        img {
            object-fit: cover;
            max-height: 410px;
            margin: auto;
            margin-top: 58px;
        }
    }
}
.related-products {
    padding-bottom: 100px;

    &__title {
        margin-bottom: 65px;
        font-size: 36px;
        color: $text;
    }
    .products__item {
        display: inline-flex !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        max-width: 270px;
        margin-left: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .slick-next,
    .slick-prev {
        position: absolute;
        width: 50px;
        height: 50px;
        top: -104px;
        right: -10px;
        background-color: transparent;
        border: 2px solid #edf1f4;
        border-radius: 4px;
    }
    .slick-prev {
        right: 55px;
    }
    .slick-next--active,
    .slick-prev--active {
        border-color: #a3bbc8;
    }
}
.blog {
    padding-top: 10px;

    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__content {
        @extend %rubik-400;
        max-width: 830px;
        width: 100%;
        &-item {
            margin-bottom: 58px;
        }
        &-img {
            margin-bottom: -70px;
            display: block;
            height: 500px;
            object-fit: cover;
        }
        &-info {
            width: 275px;
            height: 70px;
            background-color: $bg2;
            display: flex;
            align-items: center;
            margin-bottom: 40px;
        }
        &-date,
        &-author {
            position: relative;
            font-size: 12px;
            color: #333333;
            padding-left: 20px;
            margin-left: 20px;
        }
        &-date::before,
        &-author::before {
            content: "";
            position: absolute;
            width: 14px;
            height: 14px;
            top: 7px;
            left: 0;
        }
        &-date::before {
            background-image: url("../images/icons/date-icon.svg");
        }
        &-author::before {
            background-image: url("../images/icons/admin-icon.svg");
        }
        &-title {
            font-size: 36px;
            line-height: 26px;
            color: #333333;
            margin-bottom: 35px;
        }
        &-text {
            font-size: 16px;
            line-height: 30px;
            color: $text;
            margin-bottom: 30px;
            span {
                @extend %rubik-700;
            }
        }
        &-btn {
            @extend %btn;
            width: 180px;
            font-size: 16px;
            padding: 25px 75px 20px 20px;
            background-color: #fff;
            color: $bg2;
            border: 1px solid $bg2;
            transform: transition all 0.3s;
            &::after {
                width: 23px;
                background-image: url("../images/blog-right-arrow.svg");
            }
            &:hover {
                box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
            }
        }
    }
    &__aside {
        margin-left: 70px;

        &-form {
            margin-bottom: 55px;
            display: flex;
            width: 100%;
            justify-content: space-between;
        }
        &-input {
            border: 1px solid $bg2;
            border-radius: 6px 0 0 6px;
            height: 40px;
            max-width: 220px;
            padding-left: 10px;
        }
        &-btn {
            background-color: $bg2;
            border: 1px solid $bg2;
            border-radius: 0px 6px 6px 0px;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: transition all 0.3s;
            &:hover {
                background-color: #8ab6ce;
            }
        }
        .filter-category {
            margin-bottom: 40px;
        }
        .recent-products {
            width: 100%;
            &__item {
                margin-bottom: 15px;
                transform: transition all 0.3s;
                &:hover {
                    background-color: #a3bbc8;
                }
            }
            &__item-img {
                height: 70px;
                min-width: 70px;
                width: 100%;
                object-fit: cover;
                border: none;
                padding: 0;
            }
            &__item-title {
                margin-bottom: 2px;
                font-size: 14px;
                margin-left: 5px;
            }
        }
        .blog__content {
            &-date {
                margin: 0;
            }
        }
    }
    &__info {
        width: 275px;
        height: 70px;
        background-color: $bg2;
    }

    &__pagination {
        margin: 0;
        margin-bottom: 120px;
        margin-top: 30px;
    }
}
.blog-details {
    &__content {
        &-title {
            margin-bottom: 25px;
            letter-spacing: 1.2px;
        }
        &-text {
            margin-bottom: 15px;
        }
    }
}
.blog__content-blockquote {
    width: 100%;
    padding: 20px 0 20px 35px;
    background-color: #edf1f4;
    border-left: 8px solid $bg2;
    margin-bottom: 40px;
}
.blog-blockquote {
    &__text {
        margin-bottom: 10px;
        color: $text;
    }
    &__author {
        color: $text;
        position: relative;
        padding-left: 40px;
        &::before {
            content: "";
            width: 20px;
            height: 4px;
            position: absolute;
            background-color: $bg2;
            top: 13px;
            left: 0;
        }
    }
}
.blog-box {
    display: flex;
    margin-bottom: 40px;

    &__img {
        height: 210px;
        width: 100%;
        object-fit: cover;
    }
    &__content {
        margin-left: 30px;
        padding-top: 25px;
    }
    &__title {
        margin-bottom: 10px;
        font-size: 18px;
        color: $text;
    }
    &__text {
        color: #565872;
    }
}
.blog-content {
    margin-bottom: 30px;
    &__signature {
        display: flex;
        justify-content: space-between;
        border: 2px solid #ebebeb;
        border-left: none;
        border-right: none;
        padding: 25px 0;
        margin-bottom: 60px;
    }

    &__signature-info {
        display: flex;
        width: 270px;
        width: 100%;
        align-items: center;
    }
    &__signature-author {
        display: flex;
        flex-direction: column;
        margin-left: 25px;
    }
    &__signature-img {
        height: 75px;
        width: 75px;
        object-fit: contain;
    }

    &__signature-name {
        @extend %rubik-700;
        font-size: 18px;
        line-height: 1.4;
        color: #333333;
        margin-bottom: 5px;
    }

    &__signature-position {
        line-height: 1.8;
        color: #666666;
    }

    &__signature-seo {
        width: 280px;
        padding-top: 10px;
    }
    &__tags {
        display: flex;
        span {
            margin-right: 30px;
            color: #333333;
        }
    }

    &__tags-items {
        width: 100%;
        color: #999999;
    }

    &__tags-item {
        display: inline-block;
        transform: transition all 0.3s;
        &:hover {
            transform: scale(110%);
            @extend %rubik-700;
        }
    }
    &__social {
        display: flex;
        span {
            color: #333333;
        }
    }
    &__social-items {
        width: 100%;
    }

    &__social-item {
        display: inline-block;
        margin-left: 20px;
        transform: transition all 0.3s;
        &:hover {
            transform: scale(150%);
        }
    }
}
.blog-comments {
    margin-bottom: 90px;
    &__title {
        @extend %rubik-700;
        font-size: 24px;
        line-height: 1.5;
        color: $text;
        margin-bottom: 50px;
    }
    &__item {
        display: flex;
        margin-bottom: 30px;
    }
    &__item--comment {
        margin-left: 130px;
    }
    &__item:nth-last-child(1) {
        .blog-comments__item-content {
            border-bottom: none;
            margin-bottom: 25px;
        }
    }
    &__item-content {
        margin-left: 30px;
        @extend %rubik-700;
        border-bottom: 2px solid #e0e0e0;
        padding-bottom: 25px;
    }

    &__item-img {
        height: 100px;
        width: 100px;
        object-fit: cover;
    }

    &__item-top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        line-height: 1;
    }

    &__item-name {
        color: $text;
    }

    &__item-date {
        color: #9e9e9e;
        font-size: 14px;
    }

    &__item-text {
        color: #565872;
        margin-bottom: 10px;
        letter-spacing: -0.2px;
    }

    &__item-link {
        display: block;
        max-width: 60px;
    }
    &__item-reply {
        color: #565872;
        font-size: 14px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            width: 20px;
            height: 9px;
            background-image: url("../images/reply-arrow.svg");
            top: 11px;
            right: -4px;
        }
    }

    &__form {
        width: 100%;
    }

    &__form-title {
        @extend %rubik-700;
        font-size: 24px;
        line-height: 1.5;
        color: $text;
        margin-bottom: 40px;
    }

    &__form-input {
        margin-bottom: 20px;
    }
    &__form-name,
    &__form-email,
    &__form-textarea {
        width: 400px;
        border: 1px solid #e5e5e5;
        padding: 10px 20px 7px 20px;
        position: relative;
        background-color: none;
        &::placeholder {
            @extend %rubik-400;
            font-size: 16px;
            color: #999999;
        }
    }
    &__form-name {
        margin-right: 25px;
    }
    &__form-textarea {
        width: 100%;
        height: 120px;
        margin-bottom: 30px;
    }
    &__form-btn {
        width: 190px;
        background-color: $bg2;
        color: #fff;
        border: none;
        font-size: 14px;
        text-transform: uppercase;
        padding: 10px 20px 10px 20px;
    }
}

.contact-info {
    &__subtitle {
        font-size: 16px;
        line-height: 1.25;
        color: $bg2;
        margin-bottom: 10px;
        text-align: center;
    }

    &__title {
        font-size: 35px;
        line-height: 1.6;
        color: #436372;
        margin-bottom: 60px;
        text-align: center;
    }

    &__items {
        display: flex;
        justify-content: space-between;
        margin-bottom: 120px;
    }

    &__item {
        width: 370px;
        height: 380px;
        background-color: #fbfbfb;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &:hover {
            border: 3px solid $bg2;
            .contact-info__item-icon {
                background-color: $bg2;
                path {
                    fill: #fff;
                }
            }
        }
    }

    &__item-icon {
        width: 80px;
        height: 80px;
        background-color: #fff;
        border-radius: 20px;
        box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 55px;
        path {
            fill: $bg2;
        }
    }

    &__item-title {
        font-size: 20px;
        line-height: 1.3;
        color: #222222;
        margin-bottom: 20px;
        text-align: center;
    }
    address {
        width: 260px;
        @extend %rubik-400;
        text-align: center;
        font-size: 16px;
        line-height: 1.8;
        color: #565872;
    }
}
.contact-box {
    display: flex;
    justify-content: space-between;
    &__form {
        margin-bottom: 130px;
    }
    &__form-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &__form-name,
    &__form-email,
    &__form-message {
        width: 300px;
        height: 50px;
        background-color: #fafafa;
        border: none;
        @extend %rubik-400;
        font-size: 16px;
        line-height: 1.25;
        color: #565872;
        text-transform: uppercase;
        padding: 15px 20px 15px 20px;
    }
    &__name-box {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            width: 14px;
            height: 13px;
            background-image: url("../images/icons/input-name-icon.svg");
            top: 21px;
            right: 23px;
        }
    }
    &__email-box {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            width: 18px;
            height: 12px;
            background-image: url("../images/icons/input-mail-icon.svg");
            top: 22px;
            right: 29px;
        }
    }
    &__message-box {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            width: 18px;
            height: 12px;
            background-image: url("../images/icons/input-comment-icon.svg");
            top: 42px;
            right: 29px;
        }
    }
    &__form-email {
        margin-left: 20px;
    }
    &__form-message {
        resize: none;
        width: 100%;
        height: 175px;
        margin: 25px 0 20px 0px;
       
    }
    &__form-btn {
        width: 200px;
        background-color: $bg2;
        color: #fff;
        border: none;
        font-size: 14px;
        text-transform: uppercase;
        padding: 10px 20px 10px 20px;
        border-radius: 6px;
        cursor: pointer;
    }
   
    &__map {
        margin-left: 50px;
    }
}

@import "media";
